<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Movie List</title>
    <link rel="stylesheet" href="kick.css" />
  </head>

  <body>
    <h1>Movie List</h1>

    <ul>

      <% @movie_info.each do |movie_info| %>
        <% array=movie_info.split("^$") %>

        <% array.each do |info| %>
          <li><%= info.tr("_"," ") %></li>
        <% end %>

      <% end %>
      </ul>

    <!--will want to style the list to make movie info look pretty, handle nil elements-->

  </body>
</html>
